<!doctype html>
<html lang="en" ng-app="myFirstApp">
<head>
	<meta charset="utf-8" />
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link href="/css/kendo.common.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/kendo.silver.min.css" rel="stylesheet" type="text/css" />
	<!--<link href="//cdn.kendostatic.com/2014.1.318/styles/kendo.silver.mobile.min.css" rel="stylesheet" type="text/css" />-->
	<link href="/css/kendo.dataviz.min.css" rel="stylesheet" type="text/css" />
	<link href="/css/kendo.dataviz.default.min.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
</head>
<body ng-cloak ng-controller="MainController">
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div>
						<a ng-href="#/home">
							<h1>{{main.header}}</h1>
							<div class="punchLine">{{main.puchLine}}</div></a>
						</div>
					</div>
					<div class="col-md-9">
						<div class="row">
							<div class="col-md-12">
								<div >
									<ul class="nav nav-pills">
										<li ng-repeat="nav in main.navMenus">
											<a ng-href="{{nav.url}}">{{nav.name}}</a>
										</li>
									</ul>

								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div>
									<!-- Semantic markup -->
									<login-control />
								</div>	
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section>
			<div class="container">
				<div class="row">
					<div class="col-md-3">					
					<img src="/img/businessman.png" alt="Happy business Man" title="Happy business Man" class="img-responsive hidden-xs" >
						<div ng-repeat="card in main.annoucements">
							<!-- Semantic markup -->
							<annoucement-card card=card />
							<hr>

						</div>					
					</div>
					<div class="col-md-9">
						<ng-view></ng-view>
					</div>

				</div>
			</section>
			<div class="container">
				<div class="row">
					<div class="col-md-9 col-md-offset-3">
						<br>

						<footer>
							{{main.footer}}
						</footer>
						<br>
					</div>
				</div>
			</div>




			<!--<script src="/lib/less.min.js"></script>-->
			<script src="/lib/jquery-1.9.1.min.js"></script>
			<script src="/lib/kendo.all.min.js"></script>
			<script src="/lib/angular/angular.min.js"></script>
			<script src="/lib/angular/angular-route.min.js"></script>
			<script src="/lib/angular/angular-sanitize.min.js"></script>
			<script src="/lib/angular/angular-resource.min.js"></script>
			<script src="/lib/angular-kendo.min.js"></script>
			<script type="text/javascript" src="/lib/underscore-1.4.4.min.js"></script>
			<script type="text/javascript" src="/lib/bootstrap.min.js"></script>
			<script type="text/javascript" src="/lib/ui-bootstrap-custom-0.10.0.min.js"></script>
			<script type="text/javascript" src="/lib/ui-bootstrap-custom-tpls-0.10.0.min.js"></script>


	<!--<script type="text/javascript" src="/lib/angular/angular.min.js"></script>		
	<script type="text/javascript" src="/lib/angular/angular-route.min.js"></script>
	<script type="text/javascript" src="/lib/angular/angular-resource.min.js"></script>-->
	<script type="text/javascript" src="/js/app.js"></script>
	<script type="text/javascript" src="/js/controllers/MainController.js"></script>
	<script type="text/javascript" src="/js/directives/loginControl.js"></script>
	<script type="text/javascript" src="/js/directives/annoucementCard.js"></script>	
	<script type="text/javascript" src="/js/controllers/LoginController.js"></script>
	<script type="text/javascript" src="/js/directives/searchCompany.js"></script>
	<script type="text/javascript" src="/js/controllers/SearchCompanyController.js"></script>
	<script type="text/javascript" src="/js/controllers/CompanyTabController.js"></script>
	<script type="text/javascript" src="/js/controllers/AnnoucementCardController.js"></script>
	<script type="text/javascript" src="/js/services/CompanyData.js"></script>
	<script type="text/javascript" src="/js/services/MainData.js"></script>
	<!--<script type="text/javascript" src="/js/filters.js"></script>
	<script type="text/javascript" src="/js/controllers/EditEventDetailController.js"></script>
	<script type="text/javascript" src="/js/controllers/EventDetailController.js"></script>
	<script type="text/javascript" src="/js/controllers/EventListController.js"></script>
	<script type="text/javascript" src="/js/controllers/SampleController.js"></script>	
	<script type="text/javascript" src="/js/services/EventsData.js"></script>
	<script type="text/javascript" src="/js/directives/mySample.js"></script>
	<script type="text/javascript" src="/js/directives/eventThumbnail.js"></script>
	<script type="text/javascript" src="/js/directives/upVote.js"></script>-->
</body>
</html>