<form name="SearchForm">
	<div class="input-group">
		<input type="text" class="form-control" required placeholder="Search">
		<span class="input-group-btn">
			<button class="btn btn-default" ng-disabled="SearchForm.$invalid" type="submit" ng-click="search(SearchForm)">Go!</button>
		</span>
		
	</div>
</form>
<div>
	<br>
	<a href ng-click="advanceOption()">Advances search options >></a>
</div>
<div ng-show="showhideAdvanceOption">
	<br>
	<form name="AdvanceSearchForm">
		<div class="form-group">
			<label for"companyNametxt">Company Name</label>
			<input id="companyNametxt" type="text" ng-model="companyName" class="form-control form-control-advSearch" placeholder="E.g. SunGard">
		</div>
		<div class="form-group">
			<label for"companyLoctxt">Company Location</label>
			<input id="companyLoctxt" type="text" ng-model="companyLocation" class="form-control form-control-advSearch" placeholder="E.g. Pune">
		</div>
		<button type="submit" class="btn btn-default">Submit</button>
	</form>
</div>
