<div class="row" ng-controller="CompanyTabController">
	<div class="col-md-8">
		<h4>Company News</h4>
		<hr>
		<h5>Maecenas iaculis, arcu eu lobortis cursus, sem quam tristique libero.</h5>
		<p>Aenean ullamcorper scelerisque libero, vitae blandit felis viverra in. Sed tempus malesuada tincidunt. Curabitur fringilla orci in viverra adipiscing. Aliquam nec tempor arcu</p>

		<accordion close-others="oneAtATime">
			<accordion-group>
				<accordion-heading>
					<span class="glyphicon glyphicon-ok"></span> Aliquam nec tempor arcu
				</accordion-heading>
				This content is straight in the template.
			</accordion-group>
			<accordion-group>
				<accordion-heading>
					<span class="glyphicon glyphicon-ok"></span> Maecenas iaculis, arcu eu lobortis cursus
				</accordion-heading>
				Sed tempus malesuada tincidunt. Curabitur fringilla orci in viverra adipiscing. Aliquam nec tempor arcu
			</accordion-group>
			<accordion-group heading="Lorem ipsum dolor sit amet" is-open="true">
		      <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</strong> Morbi quis mollis odio:</p>
		        <ul>
		        <li ng-repeat="item in items" ng-bind-html-unsafe="item">{{item}}</li>
		        </ul>
		        <p>Sed non gravida sem, sed aliquet massa. Nullam a gravida sapien. Nullam imperdiet diam et dictum tristique.<span class="highlightText"> Fusce auctor pulvinar odio iaculis luctus.</span></p>
		    </accordion-group>
			<accordion-group heading="{{group.title}}" ng-repeat="group in groups">
      			{{group.content}}
    		</accordion-group>
	</accordion>
</div>
<div class="col-md-3">
	<h4>Search</h4>
</div>
</div>

<div class="row">
	<div class="col-md-11">
		<h4>Recap News</h4>
		<hr>
		<div style="width:80%">
			<p>Fusce at egestas leo. Maecenas imperdiet nibh accumsan est dictum euismod. Donec scelerisque nibh eu vulputate ultricies. Maecenas nulla quam, ullamcorper ac dui sed, interdum aliquet leo. Duis quis blandit nunc. Quisque semper tortor eget leo feugiat, a ultrices diam mattis. Nunc erat leo, consequat non mattis ac, mollis ac libero. <span class="highlightText">Vivamus in laoreet metus.</span></p>
		</div>
		<div class="globeImage" >
			<img src="/img/globe.png" title="Globe" alt="Globe" />
		</div>
		
		
	</div>
	
</div>