<div ng-controller="CompanyTabController">
	<div class="row" >
		<div class="col-md-7" style="padding-right:10px;">
			<h4>{{company.header}}</h4>
			<hr>
			<div class="vhr">
				<div style="margin-right:20px">
					<h5>{{company.title}}</h5>
					<p>{{company.description}}</p>
					<!--[if lt IE 9]>
  						<ul>
  							<li ng-repeat="new in company.news">
  								<div ng-bind-html="new.title"></div>
  								<div ng-bind-html="new.content"></div>
  							</li>
  						</ul>					
  					<![endif]-->  					
  					<div ng-show="isCompatible()">
  					<accordion close-others="oneAtATime">					
						<accordion-group  ng-repeat="new in company.news" is-open="new.isOpen">
						<accordion-heading>
						<div ng-bind-html="new.title">{{new.title}}
						</div>
					</accordion-heading>
					<div ng-bind-html="new.content">{{new.content}}</div>
				</accordion-group>
			</accordion>
			</div>
					
		</div>
	</div>
</div>
<div class="col-md-4">
	<div>
		<h4>Search</h4>
		<br>
		<!-- Semantic markup -->
		<div search-company></div>
	</div>
	<div>
		<hr>
		<div ng-repeat="card in company.annoucements">
			<!-- Semantic markup -->
			<annoucement-card card='card' />					
		</div>	
		<!--<h4>{{company.annoucements[0].header}}</h4>
		<div>
			<img ng-src="{{company.annoucements[0].imageUrl}}" title="Dog" alt="Dog" class="img-responsive img-rounded" /> 
		</div>
		<br>
		<h5>{{company.annoucements[0].title}}</h5>
		<div ng-bind-html="company.annoucements[0].content">
			<p>{{company.annoucements[0].content}}</p>
		</div>-->
		
	</div>
</div>
</div>

<div class="row">
	<div class="col-md-11">
		<h4>{{company.recapNewsHeader}}</h4>
		<hr>
		<div style="width:80%">
			<div ng-bind-html="company.recapNewsDescription">
				<p>{{company.recapNewsDescription}}</p></div>
			</div>
			<div class="globeImage" >
				<img src="/img/globe.png" title="Globe" alt="Globe" class="img-responsive  hidden-xs" />
			</div>		
			<br>
		</div>
		
	</div>
</div>