/* app css stylesheet */
body {
  background-image: url("/img/bg.png");
  font-family: 'Arvo', serif;
  font-size: 11px;
}
h1 {
  font-size: 31px;
  color: #800080;
}
h4 {
  font-size: 17px;
}
h5 {
  font-size: 14px;
  color: #800080;
}
h6 {
  font-size: 11px;
  color: #800080;
}
.highlightText {
  color: #0000ff;
}
.punchLine {
  color: #800080;
}
.tabContainer {
  background-color: #9bbce7;
  border-radius: 5px;
}
.nav {
  float: right;
}
.nav-pills > li > a {
  color: #800080;
}
footer {
  font-size: 9px;
}
.globeImage {
  position: absolute;
  bottom: 100px;
  top: 30px;
  right: 2px;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none;
}
.form-control-advSearch {
  width: 50%;
  height: 14px;
}
.vhr {
  border-right: 1px solid #eee;
}
.k-tabstrip .k-content.k-state-active {
  background-color: #fff;
  color: #515967;
  border-radius: 6px;
}
.dotted {
  border-bottom: 1px dashed #999;
  cursor: pointer;
  text-decoration: none;
}
.panel-title > a {
  color: inherit;
  cursor: pointer;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ddd;
  background-image: url("/img/bg-panel.png");
}
.blue {
  color: blue;
}
