/* app css stylesheet */

@main-color: #9BBCE7;
@mix-color: #B6CBE8;
@panelBodyColor1: #feffff;
@panelBodyColor2: #a0d8ef;
@highlighted-color: purple;
@base-size: 11px;
@highlighted-color2: blue;
html {
	
}
body {
	background-image: url("/img/bg.png");    
    font-family: 'Arvo', serif;    
	font-size: @base-size;
}
h1 {
	font-size: @base-size + 20px;
	color: @highlighted-color;
}

h4 {
	font-size: @base-size + 6px;
}

h5 {
	font-size: @base-size + 3px;
	color: @highlighted-color;
}

h6 {
	font-size: @base-size;
	color: @highlighted-color;
}

.highlightText {
	color: @highlighted-color2;
}

.punchLine {
	color: @highlighted-color;
}
.tabContainer {
	background-color: @main-color;
	border-radius: 5px;
}

.nav {
     float: right;
    
  }
.nav-pills>li>a {
  	color: @highlighted-color;
  }

footer {
	font-size: @base-size - 2px;
}

.globeImage {
	position: absolute;
	bottom: 100px;
	top: 30px;
	right: 2px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.form-control-advSearch {
	width: 50%;
	height: 14px;
}

.vhr {
	border-right:1px solid #eee;
}
.k-tabstrip .k-content.k-state-active {
	background-color: #fff;
	color: #515967;
	border-radius: 6px;
}

.dotted{
  border-bottom: 1px dashed #999;
  text-decoration: none; 
  cursor: pointer;
  text-decoration: none;	
}

.panel-title>a {
	color: inherit;
	cursor: pointer;
}

.panel-default>.panel-heading+.panel-collapse .panel-body {
	border-top-color: #ddd;
	background-image: url("/img/bg-panel.png");

}

.blue {
	color: blue;
}